<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h1 style="text-align:center;"> <%= @studio.name %> </h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <%= calendar_for(@studio.spin_classes, :html => {:class => 'studio-cal'}) do |t| %>
        <%= t.head('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat') %>
          <%= t.day(:day_method => :strict_date, :id => 'day') do |day, spin_classes| %>
            <% if (spin_classes.length > 0) || (day.day == Date.today.day) %>
              <p><strong><%= day.day %></strong></p>
              <%= link_to "#{spin_classes.length} classes", select_day_of_classes_path(selected_classes: spin_classes), remote: true, class: "selected-class" %>
              <!-- <a href="" class="selected-class" data-remote="true"><%= spin_classes.length %> classes</a> -->
            <% end %>
          <% end %>
        <% end %>
    </div>

    <div class="col-md-4">
      <div class="selected-day-container">
        <i>Select a day to view the classes...</i>
      </div>
        <ul class="selected-classes-container">
        </ul>
    </div>

    <div class="col-md-1"></div>

  </div>
</div>
