<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1 style="text-align:center;"> <%= @studio.name %> </h1>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <%= calendar_for(@studio.spin_classes, :html => {:class => 'studio-cal', :id => 'center'}) do |t| %>
      <%= t.head('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat') %>
      <%= t.day(:day_method => :strict_date) do |day, spin_classes| %>
        <%= day.day %><br>
        <%= spin_classes.length %> classes
        
      <% end %>
    <% end %>
  </div>
  <div class="col-md-1"></div>
</div>





<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="open-classes-container">
      <h2> Open Classes: </h2>
        <ul>
          <% @studio.get_classes.each do |day, spin_classes_array| %>
          <li> <%= day %>
            <ul>
              <% spin_classes_array.each do |spin_class| %>
                <li> 
                  <strong> <%= spin_class.time %> </strong> | <%= spin_class.instructor.name %> 
                  <%= render partial: AttendClassToggle.new(spin_class, current_user).already_attending?, locals: {spin_class: spin_class} %>
                </li>
              <% end %>
            </ul>
          </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>


<!-- Note: class of 'session open' for listing classes -->